
*{
padding: 20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: black;
color: #ffffff;
font-size: 16px;
}
header {
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
     border: 5px solid blue;
    /* background-color: darkkhaki; */
    
    
 }

.myname {
    font-size: 600%;
    margin: 25px;
    margin-left: 25%;
    color: #2b00ff;

}

figure {
display: flex;
justify-content: center; 

}
img{
    width: 50%;
    min-width: 400px
}

main h2{

    color: green;
    font-size: 200%;
    margin: 1%;

}
footer{
    display: flex;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    border:  3px solid #2b00ff;
}


li{
   display: inline-block;
    margin-left: 25px;
   
}

/* .viewport {
    display: flex;
    
} */

p {
    margin: 1%;
    padding: 2%;
    letter-spacing: 2px;
    line-height: 25px;
}

/* footer ul li{
    display: flex;
    flex-direction: column;
    justify-content: end; */
