
*{
padding: 20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: #979292;
color: #ffffff;
font-size: 16px;
}
header {

    border: 1px solid blue;
    background-color: darkkhaki;
    margin: 20px;
    
 }

.myname {
    font-size: 600%;
    margin: 25px;
    margin-left: 25%;
    color: #2b00ff;

}

figure {
display: flex;
justify-content: center;    
}

main h2{

    color: green;
    font-size: 200%;
    margin: 1%;

}
footer{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}


li{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    
}

/* .viewport {
    display: flex;
    
} */

p {
    margin: 1%;
    padding: 2%;
    letter-spacing: 2px;
    line-height: 25px;
}

/* footer ul li{
    display: flex;
    flex-direction: column;
    justify-content: end; */
